* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: Public Sans;
  font-size: 3rem;
  font-weight: 400;
  color: #2d314d;
  margin-bottom: 2rem;
}

h2 {
  font-family: Public Sans;
  font-size: 2.5rem;
  font-weight: 400;
  color: #2d314d;
  margin-bottom: 2rem;
}

h3 {
  font-family: Public Sans;
  font-size: 1.5rem;
  font-weight: 400;
  color: #2d314d;
  margin-bottom: 2rem;
}

p {
  font-family: Public Sans;
  font-size: 1rem;
  font-weight: 300;
  color: #9698a6;
  line-height: 2rem;
}
.header-container {
  background-color: #ffffff;
  position: relative;
  z-index: 3;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 2rem 5%;
}

.mobile-button {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-family: Public Sans;
  font-weight: 300;
  color: #9698a6;
}

.navbar li:not(:last-child) {
  margin-right: 2rem;
}

.request-button {
  border: none;
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  font-family: "Public Sans", sans-serif;
  cursor: pointer;
  color: #ffffff;
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
}

.request-button:hover {
  opacity: 0.7;
}

.header .navbar li::after {
  content: "";
  display: block;
  height: 0.25rem;
  background: linear-gradient(to right, #31d35c, #2bb7da);
  width: 100%;
  opacity: 0;
  transform: translateY(2.75rem);
}

.header .navbar li:hover::after {
  opacity: 1;
}

.main-container1 {
  background-color: #fafafa;
}
.mobile-menu {
  display: none;
}
.intro {
  display: flex;
  position: relative;
  z-index: 1;
}

.intro-text {
  padding: 5%;
  width: 40%;
}

.intro-text p {
  margin-bottom: 2rem;
}

.intro-image {
  width: 60%;
  background: url(./images/bg-intro-desktop.svg);
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}

.intro img {
  position: absolute;
  transform: translateY(-20%);
  z-index: 2;
  max-width: 60%;
}

.main-container2 {
  background-color: #f3f4f6;
}

.all-features {
  display: flex;
  flex-direction: column;
}

.features-text {
  width: 50%;
  padding: 5%;
}

.features-body {
  padding: 5%;
  display: flex;
  justify-content: space-between;
}

.feature {
  width: 20%;
}
.feature img {
  margin-bottom: 2rem;
}

.main-container3 {
  background-color: #fafafa;
}

.blogs {
  padding: 5%;
}

.blog-body {
  display: flex;
  justify-content: space-between;
}

.blog {
  width: 22%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.blog-image1 {
  height: 20vh;
  background: url(./images/image-currency.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.blog-image2 {
  height: 20vh;
  background: url(./images/image-restaurant.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.blog-image3 {
  height: 20vh;
  background: url(./images/image-plane.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.blog-image4 {
  height: 20vh;
  background: url(./images/image-confetti.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.blog-content {
  padding: 5%;
}

.blog-name {
  font-size: 0.8rem;
}

.blog-content h3 {
  font-size: 1.25rem;
}
.blog-content h3:hover {
  color: #31d35c;
}

.footer-container {
  background-color: #2d314d;
}

.footer {
  padding: 5%;
  display: flex;
  justify-content: space-between;
}

.footer-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-social {
  display: flex;
}

.footer-social li:not(:last-child) {
  margin-right: 1rem;
}

.footer-social svg:hover path {
  fill: #31d35c;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.footer-links li {
  color: white;
  font-family: Public Sans;
  font-weight: 300;
}

.footer-links li:not(:last-child) {
  margin-bottom: 1rem;
}

.footer-links li:hover {
  color: #31d35c;
}

.footer-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

@media (max-width: 900px) {
  .header .request-button {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .navbar {
    display: none;
  }

  .display-none {
    display: none;
  }

  .display-block {
    display: block;
  }

  .mobile-menu {
    display: inline-block;
    padding: 5%;
    width: 90%;
    background: #ffffff;
    text-align: center;
    justify-content: center;
    color: #2d314d;
    position: absolute;
    font-family: Public Sans;
    top: 15vh;
    right: 5%;
    left: 5%;
    z-index: 50;
    opacity: 0;
  }

  .mobile-menu li {
    padding: 1rem;
  }

  .intro {
    flex-direction: column-reverse;
    align-items: center;
  }

  .intro-image {
    display: flex;
    width: 100%;
    height: 45vh;
    background: url(./images/bg-intro-mobile.svg);
    background-size: cover;
    justify-content: center;
  }

  .intro-text {
    text-align: center;
    width: 100%;
    padding: 5rem 5%;
  }

  .intro-text h1 {
    font-size: 2.5rem;
  }

  .features-text {
    width: 100%;
    text-align: center;
  }

  .features-body {
    flex-direction: column;
    gap: 2rem;
  }

  .feature {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .intro img {
    max-width: 100%;
  }

  .blog-body {
    flex-direction: column;
    gap: 3rem;
  }

  .blog {
    width: 100%;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .footer-social {
    margin-top: 2rem;
  }

  .footer-links {
    flex-direction: column;
    gap: 1rem;
  }

  .footer-button {
    align-items: center;
  }

  .footer-button p {
    margin-top: 2rem;
  }
}
